html {
    scroll-behavior: smooth;
}

.nav-arrow {
    width: 40px;
    position: absolute;
    bottom: 10px;
  }

  #landing, #about, #deals {
      height: 100vh;
      margin: 0 auto;
      align-content: center;
      margin: -30px;
  }

  #about p{
    max-width: 50vw;
    margin: 0 auto;
    align-content: center;
    margin-top: 200px;
  }

  #title {
      font-size: 8vw;
  }

  #landing {
      background-image: url(../images/Landing_Img1.jpg);
      background-size: cover;
      /* background-position: center; */
  }

  #inner-container {
      max-width: 900px;
      height: 100vh;
      align-items: center;
      margin: 0 auto;
  }

  #landing p {
       /* line-height: .7;  */
       background-color: rgba(249, 78, 255, 0.7);
       color: #FFFFFF;
       font-family: 'Open Sans';
       font-size: 24px;
       max-width: 200px;
       position: absolute;
       
  }

  #about {
      background-image: url(../images/Landing_Img2.jpg);
      background-size: cover;
  }

  #deals {
      background-image: url(../images/Landing_Img3.jpg);
      background-size: cover;
  }