@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Monoton&display=swap');

#logo {
    font-family: 'Monoton', Verdana, Tahoma, sans-serif;
    font-size: 32px;
    color: #B53CBA;
    text-align: left;
    margin: 5px;
    transition: 0.7s;
}

@media (max-width: 900px){
    #logo {
        margin: 5px auto;
        display: inline-block;
        transition: 0.7s;
    }
}