@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Monoton&display=swap');

.nav-container {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0 auto;
}

.line-dark {
    visibility: hidden;
}

.nav {
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: transparent;
    z-index: 99;
}

.nav-item {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    padding: 10px 15px;
    font-family: "open sans";
    font-weight: 100;
    font-size: 18px;
    outline: none;
}

.nav-item:hover {
    color: #B53CBA;
}

@media (max-width: 900px){

    .nav-container {
        left: 50px;
    }

    #logo {
        left: 20px;
    }

    .line-dark {
        margin: 5px 10px;
        border-bottom: 3px solid #000;
        visibility: visible;
    }
    
    .line-light {
        margin: 5px 10px;
        border-bottom: 3px solid #fff;
        visibility: visible;
    }

    .nav {
        display: block;
        position: fixed;
        top: 0;
        margin: 0 auto;
        font-size: 28px;
        background-color: #B53CBA;
        padding-top: 75px;
        text-align: left;
        height: 100vh;
        width: 100vw;
        max-width: 230px;
        transition: 0.7s;
    }
    .open {
        left: 0px;
        opacity: 1;
        transition: 0.7s;
    }
    .closed {
        left: -100vw;
        opacity: 0;
        transition: 0.7s;
    }
    .nav-item {
        color: white;
        font-size: 24px;
        display: flex;
        margin-left: 10px;
    }

    .nav-item:hover {
        color: #000;
    }

    .nav-btn {
        position: fixed;
        width: 40px;
        height: 35px;
        top: 5px;
        left: 10px;
        border: 0px solid transparent;
        border-radius: 3px;
        padding-top: 5px;
        z-index: 100;
    }

    .nav-btn:hover {
        background-color: #555;
    }
}