.og-price {
    text-decoration: line-through;
}

.product {
    margin: 20px;
    width: 100px;
    height: 200px;
}

.product-image {
    width: 200px;
    height: 200px;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-position: center;
}