.company-details {
    display: flex;
    justify-content: center;
}

.company {
    width: auto;
}

.detail-left {
    width: 35%;
    text-align: left;
}

.company-name {
    display: block
}

.company-link {
    color: black;
    text-decoration: none;
}
.btn-fav {
    margin-right: 10px;
}

.header-container {
    position: relative;
}

.header-image {
    margin: auto;
    border-radius: 30px;
}

.heart-image {
    width: 56px;
    height: 51px;
    position: absolute;
    right: 21px;
    top: 550px;
}

.company-name {
    position: absolute;
    font-size: 29px;
    top: 535px;
    left: 20px;
    color: white;
    font-family: 'Open Sans', ;
}



.product-list {
    display: flex;
    width: 700px;
    overflow: scroll;
    margin: auto;
}

.review-list {
    height: 200px; 
    overflow: scroll;
    margin-bottom: 20px;
}

.company-about {
    font-family: 'Open Sans', ;
    font-weight: bold;
    font-size: 16px;
}

@media (max-width: 900px) {
    .company {
        width: auto;
    }
    .company-details {
        flex-direction: column;
        text-align: center;
    }
    .detail-left {
        text-align: center;
        width: auto;
    }
    .product-list {
        width: 400px;
    }
    .header-image {
        width: 375px;
    }
}