.company-details {
    display: flex;
    justify-content: center;
}

.company {
    width: auto;
}

.detail-left {
    width: 35%;
    text-align: left;
}

.company-name {
    display: block
}

.company-link {
    color: black;
    text-decoration: none;
}
.btn-fav {
    margin-right: 10px;
}

.header-image {
    width: auto;
}

.product-list {
    display: flex;
}

@media (max-width: 900px) {
    .company {
        width: auto;
    }
    .company-details {
        flex-direction: column;
        text-align: center;
    }
    .detail-left {
        text-align: center;
        width: auto;
    }
}