.review-name {
    display: inline;
}

.review-date {
    display: inline;
    margin-left: 10px;
}

.review {
    width: 800px;
    margin: auto;
}

@media (max-width: 900px) {
    .review {
        width: 400px;
    }
}