.review-name {
    display: inline;
    font-family: 'Open Sans', ;
    font-weight: bold;
}

.review-date {
    display: inline;
    margin-left: 10px;
    font-family: 'Open Sans', ;
    font-size: 12px;
}

.review {
    width: 350px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 40px;
}

.review-body {
    padding-top: 15px;
    font-family: 'Open Sans', ;
    font-size: 16px;
}
